//view index
.avatar-index {
  width: 50px;
  height: 50px;
  margin: 0px auto;
  .image{
    width: 100%;
    height: auto;
  }
}
.paginate {
  text-align: center;
  margin: 0px auto;
}

//view show
.card {
  box-shadow: 0 16px 50px 0 rgba(42, 35, 35, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  margin-top: 20px;
  padding-bottom: 20px;
  padding-top: 5px;
}

.avatar-show {
  width: 200px;
  height: 200px;
  margin: 0px auto;
  .image{
    width: 100%;
    height: auto;
  }
}

button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

button:hover {
  opacity: 0.7;
}

//view edit
.btn-candidate {
  text-align: center;
  margin: auto;
}
