@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "header";
@import "footer";
@import "candidate";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
}

body {
  min-height: 100vh;
  position: relative;
  padding-bottom: 500px;
}

.container-fluid {
  padding: 0px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

@media (max-width: 999px) {
  .footer {
    height: 500px;
  }
}

//custom common
.bg-form {
  background-color: #f5f5f5;
  padding-bottom: 20px;
  margin-top: 20px;
  border-radius: 20px;
}
