<div class="row">
  <div class="col-md-6 col-md-offset-3 bg-form">
    <p><%= t('.greeting', recipient: @resource.email) %></p>

    <p><%= t('.message') %></p>

    <p><%= t('.instruction') %></p>

    <p><%= link_to t('.action'), unlock_url(@resource, unlock_token: @token) %></p>
  </div>
</div>
